<% title t('.title') %>

<div class="form-actions">
	<%= link_to t('app.buttons.show'), admin_page_path(@page),
  :class => 'btn' %>
	<%= link_to t('app.buttons.list'), admin_pages_path,
  :class => 'btn' %>
	<%= link_to t('app.buttons.admin'), admin_path,
  :class => 'btn' %>
</div>


<%= render 'form' %>


