<% title t('.title') %>

<div class="admin_nav">
	<%= link_to t('app.buttons.list'), admin_event_indicator_relationships_path, :class => 'btn' %>
	<%= link_to t('app.buttons.admin'), admin_path, :class => 'btn' %>
</div>

<%= render 'form' %>


