.navbar-inner-bottom .navmenu-select p {
  font-family: din_medium;
}

#body_landing_page #landing_page .show_all_circle a > .grey .show_all{
  font-size: 11px;
}

#body_landing_page #landing_page > div > div:first-of-type .header_bar.live_election h2 div,
#body_landing_page #landing_page > div > div:first-of-type #voter_lists .header_bar h2 div{
  width: auto;
}

#body_landing_page #landing_page22 #row1 > div:nth-child(2) #row1_footer h3 {
  font-family: 'din_med';
  font-size: 17px;
  font-weight: normal;
}
#body_landing_page #landing_page2 #row1 > div:nth-child(2) #row1_footer > div:nth-child(1) {
  width: 345px;
}
#body_landing_page #landing_page2 #row1 > div:nth-child(2) #row1_footer > div:nth-child(2) {
  width: 150px;
}
#body_landing_page #landing_page2 #row2 > div > div.row2_links {
  min-height: 150px;
}
@media (max-width: 1245px) {
  #body_landing_page #landing_page2 #row2 > div > div.row2_links {
    min-height: 185px;
  }
}
@media (max-width: 1015px) {
  #body_landing_page #landing_page2 #row2 > div > div.row2_links {
    min-height: 215px;
  }
}


#body_landing_page #landing_page2 #row2 > div > h2 {
/*  font-family: 'dejavu_extralight';*/
  font-weight: normal;
  font-size: 18px;
}
#body_landing_page #landing_page2 #row2 > div > div:last-of-type li{
  line-height: 15px;
}
#body_landing_page #landing_page2 #row2 a .grey .show_all {
  padding: 10px 2px;
  line-height: 14px;
  font-size: 12px;
}

#body_landing_page #landing_page2 #row3 > div:nth-child(1) #title {
  padding: 19px 5px 0;
}
#body_landing_page #landing_page2 #row3 > div:nth-child(2) #title {
  padding: 30px 5px 0;
}


