<% title t('.title') %>

<%= render 'form' %>

<div class="admin_nav">
	<%= link_to t('app.buttons.show'), @shape_type %>
	<%= link_to t('app.buttons.list'), shape_types_path %>
	<%= link_to t('app.buttons.admin'), admin_path %>
</div>

