<% title t('.title') %>

<p>
  <b><%= t('app.common.name')%>:</b>
  <%= @shape_type.name %>
</p>


<%= link_to t('app.buttons.edit'), edit_shape_type_path(@shape_type) %> |
<%= link_to t('app.buttons.list'), shape_types_path %>
