<% title t('.title') %>

<div id="news_item">
	<h3>
		<%= l Date.new(@news.date_posted.year, @news.date_posted.month, @news.date_posted.day), :format => :long %>
	</h3>
	<%= simple_format_no_tags @news.description, {}, :sanitize => false %>
</div>



