<% title t('.title') %>

<%= render 'form' %>

<div class="admin_nav">
	<%= link_to t('app.buttons.show'), @event %>
	<%= link_to t('app.buttons.list'), events_path %>
	<%= link_to t('app.buttons.admin'), admin_path %>
</div>

