<% title t('.title', :name => @shape_text.common_name) %>

<div class="form-actions">
	<%= link_to t('app.buttons.list'), admin_shape_text_path,
  :class => 'btn' %>
	<%= link_to t('app.buttons.admin'), admin_path,
  :class => 'btn' %>
</div>

<%= render 'form' %>


