<% title t('.title') %>

<div class="form-actions">
	<%= link_to t('app.buttons.show'), admin_core_indicator_path(@core_indicator),
  :class => 'btn' %>
	<%= link_to t('app.buttons.list'), admin_core_indicators_path,
  :class => 'btn' %>
	<%= link_to t('app.buttons.admin'), admin_path,
  :class => 'btn' %>
</div>


<%= render 'form' %>

