<% title 'Indicator Scale Details' %>

<p>
  <b>Indicator:</b>
  <%= @indicator_scale.indicator_id %>
</p>

<p>
  <b>Name:</b>
  <%= @indicator_scale.name %>
</p>



<%= link_to 'Edit', edit_indicator_scale_path(@indicator_scale) %> |
<%= link_to 'Back', indicator_scales_path %>
