<% title 'Upload a CSV file for Indicator Scales' %>

<%= form_tag upload_indicator_scales_path, :multipart => true do %>

	<div>
		CSV File to Upload
		<%= file_field_tag 'file', :accept => 'text/csv' %>
	</div>
	<div>
	  <%= submit_tag "Process CSV File" %>
	</div>
<% end %>

<%= link_to 'Back', indicator_scales_path %>
