<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
				<% @data.first.each do |header| %>
	        <Cell><Data ss:Type="String"><%= header %></Data></Cell>
				<% end %>
      </Row>
	    <% @data.each_with_index do |row, i| %>
				<% if i > 0 %>
				  <Row>
						<% row.each do |cell| %>
					    <Cell><Data ss:Type="String"><%= cell %></Data></Cell>
						<% end %>
				  </Row>
	    <% end %>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
