<% title 'Event Maps - Home' %>

<p>Welcome to the Event Maps site.</p>

<div id="map-container">
  <div id="map-zoom-out">Zoom out</div>
  <div id="map"></div>
  <div id="map-obj-title"><%=  %></div>
</div>
