/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap_and_overrides
 *= require fancybox
 *= require formtastic
 *= require vendor
 *= require scaffold
 *= require tipsy
 *= require indicator_menu_scales
 *= require formtastic-bootstrap
 *= require jquery.ui.core
 *= require jquery.ui.theme
 *= require dataTables/jquery.dataTables.bootstrap
 *= require core_indicators
 *= require data_table
 *= require news
 *= require data_archives
 *= require indicator_profiles
  *= require_self
*/


/* clear floats */
.clearfix:after, .clear:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
* html .clearfix, * html .clear	{ zoom: 1; } /* IE6 */
*:first-child+html .clearfix, *:first-child+html .clear { zoom: 1; } /* IE7 */

/* override fancy box z-index */
#fancybox-content {
	z-index: 1200 !important;
}

/* make bootstrap button link color stay white */
a.btn, a.btn:visited {
	color: #000 !important;
}
a.btn-primary, a.btn-primary:visited, a.btn-info, a.btn-info:visited, a.btn-success, a.btn-success:visited,
a.btn-warning, a.btn-warning:visited, a.btn-danger, a.btn-danger:visited, a.btn-inverse, a.btn-inverse:visited {
	color: #fff !important;
}

/* general */
a, a:link, a:hover, a:visited, a:active
{
  color: #000;
  background-color: transparent;
}
a:hover
{
  color: #000;
  background-color: #ccc;
}
a.brand:hover{
  background-color: transparent;
}

h1, h2 {
   margin: 0.5em 0;
   font-family: Arial;
   color: #000;
  font-weight: bold;
}
h1 {
   font-size: 18pt;
}

h2 {
   font-size: 16pt;
}

h3 {
  margin: 0.5em 0;
  font-size: 14pt;
   font-family: Arial;
   color: #000;
  font-weight: bold;
}

strong {
	font-weight: bold;
}

p {
margin: 0.5em 0;
}

hr {
	color: #ccc !important;
	background-color: #ccc !important;
	height: 2px;
}

ul.standard, ol.standard, ul.standard ul, ol.standard ol,
ul.standard ol, ol.standard ul {
	margin-left: 1em;
}

ul.standard li {
	list-style-type:disc;
	line-height: 1.1;
}
ol.standard li {
	list-style-type:decimal;
	line-height: 1.1;
}


/* Main Container */
#main {
	padding-left: 0;
	padding-right: 0;

	margin-left: 25px !important;
  margin-right: 25px !important;
}

/* Map */
#map-container {
	position: relative;
	width: 100%;
/*	float: left;*/
    margin-bottom: 25px;
}
#map {
  width: 100%;
	height: 600px;
  background: #edecd1;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-top: 1px dotted #c1c2bc;
  border-bottom: 1px dotted #c1c2bc;
}

/* fixes issue with bootstrap css and openlayers tile images */
#map img { max-width:none; }

/*
#export {
	display: none;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 900;
	background: transparent;
	letter-spacing: -3px;
}
*/

#map-container .controls
{
  position: absolute;
  top: 45px;
  left: 10px;
  z-index: 900;
/*
  background: rgba(0, 0, 0, .1);
  padding: 4px 3px;
  border-radius: 3px;
*/
}

#map-container .controls:hover
{
/*
  background: rgba(0, 0, 0, .75);
*/
}

#map-container .controls a
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: center center no-repeat;
  opacity: .8;
  filter: alpha(opacity=80);
  transition: opacity .3s;
  -moz-transition: opacity .3s;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
}

#map-container .controls .zoom a
{
  width: 22px;
  height: 22px;
}

#map-container .controls a:hover
{
  opacity: 1;
  filter: alpha(opacity=100);
}

#map-container .controls .zoom .in
{
  background-image: url(/assets/map+.png);
  margin-bottom: 1px;
}

#map-container .controls .zoom .out
{
  background-image: url(/assets/map-.png);
}

#map-container .controls .pan
{
  margin-bottom: 5px;
}

#map-container .controls .pan .north
{
  width: 22px;
  height: 12px;
  background-image: url(/assets/top.png);
}

#map-container .controls .pan .west
{
  width: 21px;
  height: 20px;
  background-image: url(/assets/left.png);
  float: left;
}

#map-container .controls .pan .east
{
  width: 21px;
  height: 20px;
  background-image: url(/assets/right.png);
  float: right;
}

#map-container .controls .pan .south
{
  width: 22px;
  height: 12px;
  background-image: url(/assets/bottom.png);
}

#map-loading
{
    background: rgba(255, 255, 255, .9) url('/assets/loading.gif') center center no-repeat;
    position: absolute;
    left: 0;
    top: 0;
		z-index: 1020;
		width: 100%;
		height: 100%;
}

/* Map Box */
#map-title
{
    background: #fff;
   font-family: Arial, Sanserif;
    font-size: 12px;
    margin: 5px 5px;
    color: rgba(51, 51, 51, 0.8);
    position: absolute;
    left: 0;
    top: 0;
		z-index: 900;
    padding: 10px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#map-title span#live_data {
	disaply: inline-block;
	margin-left: 1em;
	color: #fff;
	background: rgba(51, 51, 51, 0.8);
	padding: 5px 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


/* footnote */

#footnote {
	background-color: #F7F3E6;
	color: #333;
	padding: 0.3em;
	font-size: smaller;
  font-family: Arial;
}

/* event description */
#event_description{
	margin: 0;
	padding: 1em 1em 1em 0;
  font-family: Arial;
}
#event_description h3{
	font-weight: bold;
	margin-bottom: 0.5em;
}

/* for fancybox popup window */

#fancybox-content {
	color: #000 !important;
}

#fancybox_container{
  width: 425px;
  padding: 5px 25px;
}
#fancybox-content #container h2 {
	color: #000 !important;
}
#fancybox-content #container a {
  text-decoration: underline;
}

/* admin page */
div.admin_panel ul li {
	padding-bottom: 0.5em;
  list-style:disc;
  margin-left: 1em;
}

/* Multi language forms*/

ul.select-form-language {
	list-style: none;
	padding: 10px 10px 10px 0px;
	margin-bottom: 0;
}
ul.select-form-language li {
	display: inline;
	padding:10px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
ul.select-form-language li a{
	margin: -10px;
	padding:10px;
}
div.multilanguage {
	border-radius: 8px;
	padding-left: 10px;
}

ul.select-form-language li#tab-en {
	background-color:#bbb;
	color:#eee;
}
div#form-en {
	background-color:#bbb;
}

ul.select-form-language li#tab-ka {
	background-color:#999;
	color:#eee;
}
div#form-ka {
	background-color:#999;
}

.hidden { display: none; }



/* hidden span used to calculate the width of the text
   - used when computing width for map popup */
span#hidden_span_width{
	display: none;
}

/* error message styling */
.errorExplanation
{
    padding: 0.8em;
    margin-bottom: 1em;
    border: 2px solid #ddd;
    background: #F2DEDE;
    color: #B94A48;
    border: 1px solid #EED3D7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.errorExplanation h2
{
    color: #B94A48 !important;
}

.errorExplanation a
{
    color: #B94A48;
}

/* live event menu in layout */
#live_event_menu .dropdown {
  margin-left: 3em;
  background-color: #e26561;
	height: 30px;
	padding: 3px 0;
}
#live_event_menu .dropdown a {
  font-size: 25px;
  line-height: 30px;
  padding: 5px;
  font-weight: bold;
	text-transform: uppercase;
}
#live_event_menu .dropdown .caret {
	margin-top: 14px;
}
#live_event_menu ul.dropdown-menu li {
	padding: 0 5px;
}
#live_event_menu ul.dropdown-menu a {
	display: block;
  color: #000 !important;
  font-size: 18px;
	text-transform: none;
	padding: 0 5px !important;
	font-weight: normal;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#live_event_menu ul.dropdown-menu a:hover {
  color: #fff !important;
}


/* if new data available */
#new_data_available{
	padding: 10px;
	text-align: center;
	background-color: #e26561;
	color: #fff;
	font-size: 15px;
}

#new_data_available a {
	color: #fff;
	text-decoration: underline;
}

#new_data_available a:hover {
	color: #000;
	background-color: transparent;
}

/* countdown */
#live_event_no_data {
	margin: 0 auto;
	text-align: center;
	width: 50%;
}
/* the countdown graphics get messed up under this width */
@media (max-width: 1150px) {
	#live_event_no_data {
		margin: 0 auto;
		text-align: center;
		width: 100%;
	}
}
#live_event_no_data p{
	margin: 1em 0;
	font-size: 15px;
}
#live_event_no_data #counter{
	margin-top: 1em;
}

#live_event_no_data #counter .cntSeparator {
  font-size: 54px;
  margin: 25px 7px 10px;
  color: #000;
}
#live_event_no_data #counter_labels { margin: 7px 3px; }
#live_event_no_data #counter_labels div {
  float: left;
  font-family: Arial;
  width: 105px;
  margin-right: 30px;
  font-size: 13px;
  font-weight: bold;
  color: #000;
  text-align: center;
}
