/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require fancybox
 *= require formtastic
 *= require vendor
 *= require bootstrap_and_overrides
 *= require scaffold
 *= require tipsy
 *= require indicator_menu_scales
 *= require formtastic-bootstrap
  *= require_self

*/
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}


/* clear floats */
.clearfix:after, .clear:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
* html .clearfix, * html .clear	{ zoom: 1; } /* IE6 */
*:first-child+html .clearfix, *:first-child+html .clear { zoom: 1; } /* IE7 */

/* override fancy box z-index */
#fancybox-content {
	z-index: 1200 !important;
}

/* general */
a, a:link, a:hover, a:visited, a:active
{
  color: #000;
  background-color: transparent;
}
a:hover
{
  color: #000;
  background-color: #ccc;
}
a.brand:hover{
  background-color: transparent;
}

h3 {
  font-size: 16pt;
  font-weight: bold;
  padding: 0.5em 0;
}

strong {
	font-weight: bold;
}

p {
margin: 0.5em 0;
}

ul.standard, ol.standard, ul.standard ul, ol.standard ol,
ul.standard ol, ol.standard ul {
	margin-left: 40px;
}
ul.standard li {
	list-style-type:disc;
	line-height: 1.1;
}
ol.standard li {
	list-style-type:decimal;
	line-height: 1.1;
}

/* Map */
#map-container {
	position: relative;
	width: 900px;
/*	float: left;*/
    margin-bottom: 25px;
	}
#map{ width: 900px;
	height: 600px;
    background: #edecd1;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0 0 10px #444;
    -webkit-box-shadow: 0 0 10px #444;
    -moz-box-shadow: 0 0 10px #444;
}

/* fixes issue with bootstrap css and openlayers tile images */
#map img { max-width:none; }
/*
#export {
	display: none;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 900;
	background: transparent;
	letter-spacing: -3px;
}
*/
#export img {
opacity:0.7;
filter:alpha(opacity=70); /* For IE8 and earlier */
}
#export img:hover {
opacity:1.0;
filter:alpha(opacity=100); /* For IE8 and earlier */
}

/* Map Box */
#map-title
{
    position: absolute;
    left: 0;
    top: 0;
		z-index: 900;
    min-width: 200px;
    padding: 5px 10px 6px;
    background: #A6A6A6;
    box-shadow: 0 0 3px #444;
    -moz-box-shadow: 0 0 3px #444;
    -webkit-box-shadow: 0 0 3px #444;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
}

/* Shape Layer Navigation */
#shape_layer_navigation
{
	margin: 0.5em 0;
}

#shape_layer_navigation > li
{
    padding: 5px 15px 0 15px;
    position: relative;
    float: left;
    border-top: 10px solid #888;
    text-align: center;
}

#shape_layer_navigation > li.first
{
    text-align: left;
}

#shape_layer_navigation > li.last
{
    text-align: right;
    padding-right: 0;
}

#shape_layer_navigation > li.first > span
{
    left: -3px;
}

#shape_layer_navigation > li.last > span
{
    left: auto;
    right: -3px;
}

#shape_layer_navigation > li > span
{
    position: absolute;
    top: -10px;
    left: 50px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #999;
}

#shape_layer_navigation > li > span.active
{
    background: #B0B0B0;
}

#shape_layer_navigation > li > a
{
    font-size: 108.3%;
    text-decoration: none;
    color: #BBB;
}

#shape_layer_navigation > li > a:hover
{
    color: #DDD;
}

#shape_layer_navigation > li.active
{
    border-top-color: #CCC;
}

#shape_layer_navigation > li.active > a
{

    color: #DDD;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: default;

}

/* footnote */

#footnote {
	background-color: #F7F3E6;
	color: #000;
	padding: 0.3em;
	font-size: smaller;
  font-family: verdana, tahoma, arial;
}

/* event description */
#event_description{
	margin: 0;
	padding: 1em 1em 1em 0;
}
#event_description h3{
	font-weight: bold;
	margin-bottom: 0.5em;
}

/* for fancybox popup window */

#fancybox-content {
	color: #000 !important;
}

#fancybox-content #container h2 {
	color: #000 !important;
}

/* admin page */
div.admin_panel ul li {
	padding-bottom: 0.5em;
  list-style:disc;
  margin-left: 1em;
}

/* Multi language forms*/

ul.select-form-language {
	list-style: none;
	padding: 10px 10px 10px 0px;
	margin-bottom: 0;
}
ul.select-form-language li {
	display: inline;
	padding:10px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
ul.select-form-language li a{
	margin: -10px;
	padding:10px;
}
div.multilanguage {
	border-radius: 8px;
	padding-left: 10px;
}

ul.select-form-language li#tab-en {
	background-color:#bbb;
	color:#eee;
}
div#form-en {
	background-color:#bbb;
}

ul.select-form-language li#tab-ka {
	background-color:#999;
	color:#eee;
}
div#form-ka {
	background-color:#999;
}

.hidden { display: none; }
