/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require fancybox
 *= require formtastic
 *= require vendor
 *= require_tree . 
*/

/* clear floats */
.clearfix:after, .clear:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
* html .clearfix, * html .clear	{ zoom: 1; } /* IE6 */
*:first-child+html .clearfix, *:first-child+html .clear { zoom: 1; } /* IE7 */

/* Multi language tabs*/

ul.select-form-language { 
	list-style: none;
	padding: 10px 10px 10px 0px;
	margin-bottom: 0;
}
ul.select-form-language li { 
	display: inline; 
	padding:10px; 
	border-top-left-radius: 8px; 
	border-top-right-radius: 8px;
}
ul.select-form-language li a{ 
	margin: -10px;
	padding:10px; 
}
div.multilanguage {
	border-radius: 8px; 
	padding-left: 10px;
}

ul.select-form-language li#tab-en { 
	background-color:#bbb;
	color:#eee;
}
div#form-en { 
	background-color:#bbb;
}

ul.select-form-language li#tab-ka { 
	background-color:#999;
	color:#eee;
}
div#form-ka { 
	background-color:#999;
}

.hidden { display: none; }


abbr {
	padding-left:5px;
	color:#A00;
	font-weight:bold;
	font-size:125%;
}

