/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap_and_overrides
 *= require fancybox
 *= require formtastic
 *= require vendor
 *= require scaffold
 *= require tipsy
 *= require indicator_menu_scales
 *= require formtastic-bootstrap
 *= require core_indicators
 *= require data_table
  *= require_self
*/


/* clear floats */
.clearfix:after, .clear:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
* html .clearfix, * html .clear	{ zoom: 1; } /* IE6 */
*:first-child+html .clearfix, *:first-child+html .clear { zoom: 1; } /* IE7 */

/* override fancy box z-index */
#fancybox-content {
	z-index: 1200 !important;
}

/* make bootstrap button link color stay white */
a.btn, a.btn:visited {
	color: #666;
}
a.btn-primary, a.btn-primary:visited, a.btn-info, a.btn-info:visited, a.btn-success, a.btn-success:visited,
a.btn-warning, a.btn-warning:visited, a.btn-danger, a.btn-danger:visited, a.btn-inverse, a.btn-inverse:visited {
	color: #fff;
}

/* general */
a, a:link, a:hover, a:visited, a:active
{
  color: #000;
  background-color: transparent;
}
a:hover
{
  color: #000;
  background-color: #ccc;
}
a.brand:hover{
  background-color: transparent;
}

h1, h2 {
   margin: 0.5em 0;
   font-family: Arial;
   color: #000;
  font-weight: bold;
}
h1 {
   font-size: 18pt;
}

h2 {
   font-size: 16pt;
}

h3 {
  margin: 0.5em 0;
  font-size: 14pt;
   font-family: Arial;
   color: #000;
  font-weight: bold;
}

strong {
	font-weight: bold;
}

p {
margin: 0.5em 0;
}

hr {
	color: #ccc !important;
	background-color: #ccc !important;
	height: 2px;
}

ul.standard, ol.standard, ul.standard ul, ol.standard ol,
ul.standard ol, ol.standard ul {
	margin-left: 1em;
}

ul.standard li {
	list-style-type:disc;
	line-height: 1.1;
}
ol.standard li {
	list-style-type:decimal;
	line-height: 1.1;
}

/* Map */
#map-container {
	position: relative;
	width: 900px;
/*	float: left;*/
    margin-bottom: 25px;
	}
#map {
  width: 900px;
	height: 600px;
  background: #edecd1;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-top: 1px dotted #c1c2bc;
  border-bottom: 1px dotted #c1c2bc;
}

/* fixes issue with bootstrap css and openlayers tile images */
#map img { max-width:none; }
/*
#export {
	display: none;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 900;
	background: transparent;
	letter-spacing: -3px;
}
*/
#export img {
opacity:0.7;
filter:alpha(opacity=70); /* For IE8 and earlier */
}
#export img:hover {
opacity:1.0;
filter:alpha(opacity=100); /* For IE8 and earlier */
}

#map-loading
{
    background: rgba(255, 255, 255, .9) url('/assets/loading.gif') center center no-repeat;
    position: absolute;
    left: 0;
    top: 0;
		z-index: 1020;
		width: 100%;
		height: 100%;
}

/* Map Box */
#map-title
{
    background: #fff;
   font-family: Arial, Sanserif;
    font-size: 12px;
    margin: 5px 0px 0px 5px;
    color: rgba(51, 51, 51, 0.8);
    position: absolute;
    left: 0;
    top: 0;
		z-index: 900;
    padding: 5px 10px 9px;
/*
    box-shadow: 0 0 3px #444;
    -moz-box-shadow: 0 0 3px #444;
    -webkit-box-shadow: 0 0 3px #444;
*/
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
}


/* footnote */

#footnote {
	background-color: #F7F3E6;
	color: #333;
	padding: 0.3em;
	font-size: smaller;
  font-family: Arial;
}

/* event description */
#event_description{
	margin: 0;
	padding: 1em 1em 1em 0;
  font-family: Arial;
}
#event_description h3{
	font-weight: bold;
	margin-bottom: 0.5em;
}

/* for fancybox popup window */

#fancybox-content {
	color: #000 !important;
}

#fancybox-content #container h2 {
	color: #000 !important;
}

/* admin page */
div.admin_panel ul li {
	padding-bottom: 0.5em;
  list-style:disc;
  margin-left: 1em;
}

/* Multi language forms*/

ul.select-form-language {
	list-style: none;
	padding: 10px 10px 10px 0px;
	margin-bottom: 0;
}
ul.select-form-language li {
	display: inline;
	padding:10px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
ul.select-form-language li a{
	margin: -10px;
	padding:10px;
}
div.multilanguage {
	border-radius: 8px;
	padding-left: 10px;
}

ul.select-form-language li#tab-en {
	background-color:#bbb;
	color:#eee;
}
div#form-en {
	background-color:#bbb;
}

ul.select-form-language li#tab-ka {
	background-color:#999;
	color:#eee;
}
div#form-ka {
	background-color:#999;
}

.hidden { display: none; }



/* hidden span used to calculate the width of the text
   - used when computing width for map popup */
span#hidden_span_width{
	display: none;
}
