#data-table-container {
  font-family: arial;
  display: block;
  height: 165px;
  position: relative;
}

#data-table-container .loading {
  position: absolute;
  display: block;
  z-index: 200;
  background: url(/assets/loading.gif) center 37% no-repeat;
  width: 100%;
  height: 165px;
}

#data-table-container img {
  position: relative;
  opacity: .8;
  z-index: 100;
}

#data-table {
  font-size: 11px;
  border-collapse: collapse;
  width: 100%;
}

#data-table th, #data-table td {
  background: #fff;
  text-align: center;
  transition: background-color .3s;
  -moz-transition: background-color .3s;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
}

#data-table th.cg0, #data-table td.cg0 {
  text-align: left;
}

#data-table thead tr th {
  border-bottom: 1px solid #dad8d9;
  font-size: 12px;
}

#data-table tbody tr:nth-child(even) td {
  background: #F4F6F5;
}

#data-table th > span, #data-table td > span, #data-table td > a {
  padding: 15px 22px 16px;
  display: block;
  text-decoration: none;
}


#data-table tbody tr:hover td {
  background: #d6e6f5;
}

#data-table td > a:hover {
/*
  background: rgba(92, 129, 163, .75);
*/
  background-color: inherit;
  text-decoration: underline;
}

#data-table th {
  font-weight: normal;
}

#data-table th.highlighted, td.highlighted {
  background: #d6e6f5;
  color: #333;
}

td.highlighted > a {
  color: #333;
  text-shadow: none;
}

#data-table td img {
  vertical-align: middle;
  margin-top: -2px;
}

#data-table th.hidden, #data-table td.hidden {
  display: none;
}

#data-table th.header {
  cursor: pointer;
  background-image: url(/assets/asc+desc.gif);
  background-position: right center;
  background-repeat: no-repeat;
}

#data-table th.headerSortUp {
  background-image: url(/assets/asc.gif);
  background-color: rgba(51, 153, 255, .8);
}

#data-table th.headerSortDown {
  background-image: url(/assets/desc.gif);
  background-color: rgba(51, 153, 255, .8);
}


#data-table-container #data-table-top {
  margin-left: 0;
}
#data-table-container #data-table-top2 {
  margin-left: 0;
	margin-bottom: 10px;
}
#data-table-container .switchers {
  margin: 5px 0;
}

#data-table-container #tips-download {
  margin-top: 10px;
	text-align: right;
}
#data-table-container #tips-download a {
	background: #e26561;
	text-transform: uppercase;
	color: #FFF;
  font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
	padding: 5px 3px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px;
}
#data-table-container #tips-download a:hover {
	text-decoration: none;
	opacity: .5;
}
#data-table-container #tips-links, #data-table-container #tips-sorting {
  margin-top: 5px;
  padding: 7px;
  background: #fff;
  font-size: 12px;
	text-align: center;
 -webkit-border-radius: 2px;
 -moz-border-radius: 2px;
 border-radius: 2px;
}

#data-table-container .switchers > * {
  float: left;
  margin-right: 5px;
}

#data-table-container .arrows {

}

#data-table-container .arrows .arrow-container {
  float: left;
  position: relative;
  margin-right: 1px;
}

#data-table-container .arrows .arrow-container .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(255, 255, 255, .8);
  cursor: default;
  display: none;
}

#dt_dd_switcher,
#tips,
#data-table-container .arrows .arrow-container,
#data-table-container .arrows .arrow,
#data-table-container .arrow-container .overlay {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
}

#data-table-container .arrows .arrow {
  width: 45px;
  height: 29px;
  border: 1px solid #fff;
  background: #fff url('/assets/data_table_arrow_left.png') no-repeat center;
  float: left;
  cursor: pointer;
}

#data-table-container .arrows .arrow:hover {
  border-color: #DFDFDF;
  background-color: #EFEFEF;
}

#data-table-container .arrows .arrow:active {
  border-color: #d2d2d2;
  box-shadow: inset 0 0 1px #bFbFbF;
}

#data-table-container .arrows .arrow.left {
}

#data-table-container .arrows .arrow-container-right {
  -ms-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -o-transform:rotate(180deg);
}

#dt_dd_switcher {
  border: 0px;
  outline: none;
  background: #fff;
  height: auto;
  padding-top: 7px;
  padding-bottom: 7px;
}



#map_data_table{
  th, td{
    padding: 0;
    text-align: center;
    a, span{
      padding: 15px 22px 16px;
      display: block;
      text-decoration: none;
      color: #333;
    }   
    a:hover{
      background-color: inherit;
      text-decoration: underline;
    }
  }
  td {
    background-color: #F4F6F5;
  }
  th{
    border-bottom: 1px solid #dad8d9;
    font-size: 12px;
    font-weight: normal;
    background-color: #fff;
  }
  tbody tr:nth-child(even) td {
    background-color: #fff;
  }
  tbody tr:hover td {
    background: #d6e6f5;
  }
}

