#indicator_menu_scale {
  position: absolute;
  right: 30px;
  margin-top: 25px;
	z-index: 1005;
}

@media (max-width: 600px) {
  #indicator_menu_scale {
/*
    position: inherit;
    right: inherit !important;
    width: 100% !important;
*/
  }

  #indicator_menu_scale h3#indicator_menu_header, #indicator_menu_scale h3#indicator_description {
    font-size: 12px;
  }

  #indicator_menu_scale .toggle {
    display: none;
  }
}

@media (max-width: 767px)
{
  #indicator_menu_scale {
    float: left;
    width: 23%;
  }

  #map-container {
    float: left;
  }
}

/*
div#indicator_menu_scale {
	padding: 0;
	float: right;
	margin: -620px 2% 0 0;
	z-index: 1005;
	position: relative;
}
*/

div#indicator_menu_scale h3 {
	font-weight: bold;
	color: #fff;
	background: #2985c4;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 0px;
}

div#indicator_menu_scale h3 .arrow_shape {
  font-size: 10px;
  margin-left: 8px;
  display: inline;
  vertical-align: top;
  margin-top: 1px;
}

div#indicator_menu_scale h3#indicator_menu_header {
	cursor: pointer;
}

div#indicator_menu_scale h3#indicator_description {
	display: none;
	margin-top: 3px;
}

div#indicator_menu_scale h3, h3#indicator_description {
	font-size: 14px;
	padding: 12px 10px 10px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

div#indicator_menu_scale .toggler {
	cursor: pointer;
}

#indicator_menu_tabs{
	font-size: 9pt;
	height: 250px;
	overflow: hidden;
	padding: 0;
}
#indicator_menu_tabs div.indicator_links {
	height: 205px;
	overflow: auto;
	padding: 0;
	margin: 0;
}

#indicator_menu_tabs ul.menu_list li{
	list-style: none;
	padding: 3px 5px 0px;
  position: relative;
}

#indicator_menu_tabs ul.ui-tabs-nav {
  background: #e1e1df;
  border: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

#indicator_menu_tabs ul.ui-tabs-nav li {
  background: #e1e1df;
  border: 0px;
}

#indicator_menu_tabs ul.ui-tabs-nav li a {
  padding-bottom: 10px;
  color: #0e74b6;
  text-shadow: none;
}

#indicator_menu_tabs ul.ui-tabs-nav li.ui-state-active, #indicator_menu_tabs ul.ui-tabs-nav li:hover, #indicator_menu_tabs ul.ui-tabs-nav li:hover a {
  background: #fff;
  border: 0px;
}

/* indicator scales */
div#indicator_menu_scale div#legend_container{
	display: none;
	background-color: #fff;
	color: #000;
	padding: 0.5em;
}
div#indicator_menu_scale ul#legend li{
    line-height: normal;
		font-size: 12px;
		font-family: Arial;
    margin: 2px 4px;
    float: left;
    cursor: default;
}

div#indicator_menu_scale ul#legend li span
{
    display: block;
    float: left;
    width: 15px;
    height: 15px;
    margin-right: 4px;
		border: none;
}



#indicator_menu_tabs ul.menu_list li a {
  padding: 3px 5px 4px;
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#indicator_menu_tabs ul.menu_list li a.active, #indicator_menu_tabs ul.menu_list li:hover a {
  background: #0E74B6;
  color: #fff;
  text-decoration: none;
}

#indicator_menu_tabs ul.menu_list li div.profile_link{
  display: none;
	position: absolute;
  top: 0;
  right: 0;
}

#indicator_menu_tabs ul.menu_list li a.active + div.profile_link,
#indicator_menu_tabs ul.menu_list li:hover div.profile_link{
  display: block;
}

#indicator_menu_tabs ul.menu_list li div.profile_link a{
  background-color: #4b9ed2;
  color: #fff;
  font-size: 11px;
  padding: 3px 5px 4px;
  margin: 3px 5px 0 0;
}
#indicator_menu_tabs ul.menu_list li div.profile_link a:hover{
  background-color: #e1e1df;
  color: #0E74B6;  
}

@media (max-width: 1300px)
{
  #indicator_menu_tabs ul.menu_list li div.profile_link a span{
    display: none;
  }
}

