div#indicator_menu_scale {
	float: left;
	width: 225px;
	padding: 0;
	margin: 0;
}

div#indicator_menu_scale h3 {
	padding: 0.5em;
	font-size: 14pt;
	font-weight: bold;
	background: #2985C4;
	color: #fff;
}

div#indicator_menu_scale h3#indicator_menu_header {
	cursor: pointer;
	text-transform:uppercase;
}

div#indicator_menu_scale h3#indicator_description {
	display: none;
}

div#indicator_menu_scale div#indicator_menu_tabs{
	width: 225px;
	font-size: 9pt;
	height: 250px;
	overflow: hidden;
	padding: 0;
}
div#indicator_menu_scale div#indicator_menu_tabs ul li a {
	color: #000;
	text-shadow: none;
}
div#indicator_menu_scale div#indicator_menu_tabs div.indicator_links {
	height: 205px;
	overflow: auto;
	padding: 0;
	margin: 0;
}
div#indicator_menu_scale div#indicator_menu_tabs ul.menu_list li{
	list-style: none;
	padding: 0.2em 0.5em;
}
div#indicator_menu_scale div#indicator_menu_tabs ul.menu_list li a {
	padding: 0.3em;
	display: block;
}
div#indicator_menu_scale div#indicator_menu_tabs ul.menu_list li a.active {
	padding: 0.3em;
	display: block;
	background: #5F646A;
	color: #fff;
}
div#indicator_menu_scale div#indicator_menu_tabs ul.menu_list li a:hover {
	background: #5F646A;
	color: #fff;
}

/* indicator scales */
div#indicator_menu_scale div#legend_container{
	display: none;
	background-color: #fff;
	color: #000;
	padding: 0.5em;
}
div#indicator_menu_scale ul#legend li{
    line-height: normal;
    font-weight: bold;
    margin: 2px 4px;
    float: left;
    cursor: default;
}

div#indicator_menu_scale ul#legend li span
{
    display: block;
    float: left;
    width: 14px;
    height: 14px;
    margin-right: 4px;
		border: solid 1px #999;
}
