div.profiles{
  display: none;
  &.active{
    display: block;
  }
  thead tr{
    background-color: #aec9dc;
  }
  a{
    text-decoration: underline;
    display: block;
    padding: 2px;
    &.view_details{
      color: #72acda;
      text-decoration: none;
    }
  }
}

.tab-content .tab-pane{
  .indicator_header > div{
    text-align: center;
  }
} 

#indicator_profile .tab-content .tab-pane{
  h2 {
    line-height: 24px;
  }
  h3 {
    margin: 20px 0 10px;
  }

  span.no_data{
    display: block;
    text-align: center;
    margin-top: 10px;
    padding: 5px 10px;
    font-weight: bold;
  }
}
