#summary_bar_voter_list{
  font-family: Tahoma, Geneva, sans-serif;
  background-color: #fff;
  padding: 0 10px 0;
  margin-top: -10px;
  margin-bottom: 5px;

  & > div.row-fluid > div{
    padding: 0 10px;
    .map_image{
      width: 105px;
      height: 105px;
      padding: 5px 0;
      float: left;
      position: relative;
      img{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
      }
    }
    
    .group1{
      padding-top: 20px;
      padding-left: 10px;
    }
    .group1, .group2{
      display: inline-block;
  
      h3{
        margin-top: 0;
        text-transform: uppercase;
        font-size: 16px;
        padding-left: 3px;
      }
      
      & > .group_box{
        border: solid 1px #EFEFEF;
        display: inline-block;
        .group_box_row1{
          padding: 0 3px;
          font-weight: bold;
          text-align: center;
        }  
        .group_box_row2{
          padding: 0 3px;
          text-align: center;
          background-color: #EFEFEF;
        }  
      }
    }
  }
}
