<% title t('.title') %>

<%= render 'form' %>

<div class="form-actions">
	<%= link_to t('app.buttons.show'), admin_data_set_path(@data_set),
  :class => 'btn' %>
	<%= link_to t('app.buttons.list'), admin_data_sets_path,
  :class => 'btn' %>
	<%= link_to t('app.buttons.admin'), admin_path,
  :class => 'btn' %>
</div>
