<!DOCTYPE html>
<html>
<head>
	<title>Election Map</title>
</head>
<body class="fancybox-content">

  <div id="fancybox_container">
	  <section id="container" class="wrap group">

		  <h2><%= yield(:title) %></h2>

		  <section id="content" class="group">
			  <% flash.each do |key, msg| %>
					  <%= content_tag :div, msg, :class => [key, " message"], :id => "notice_ #{key}" %>
			  <% end %>

	    	<%= yield %>
		  </section>
	  </section>
  </div>

</body>
</html>
